In [1]:
# %pip install "pyiss @ git+https://github.com/ArnaudMath/pyiss.git"

In [2]:
import sys
from pathlib import Path

root = Path('..').resolve()
sys.path.insert(0, str(root / 'src'))

import pyiss as iss

# import pyiss as iss

# set1 = iss.infer_set("co-iss-n1823513436")
set1 = iss.infer_set("co-iss-w1540365932") 
# set3 = ...
set1

In [3]:
print("size:", set1.size)
print("available_filters:", set1.available_filters)
print("time_window:", set1.time_window)
print("duration_s:", set1.time_window.duration_s)

size: 1
available_filters: ['MT3']
time_window: TimeWindow(start=Timestamp('2006-10-24 06:53:17.377000+0000', tz='UTC'), end=Timestamp('2006-10-24 06:53:17.377000+0000', tz='UTC'))
duration_s: 0.0

In [4]:
f0 = set1.available_filters[0]
print("example filter:", f0)

print("opusid:", set1.opusid(f0))
print("time1:", set1.time1(f0))
print("target:", set1.target(f0))

# If the filter appears multiple times:
# print(set1.opusid(f0, all=True))
# You can call every metadata type that is also listed in OPUS

example filter: MT3
opusid: co-iss-w1540365932
time1: 2006-10-24 06:53:17.377000+00:00
target: Titan

In [5]:
set1.df

,opusid,time1,target,COISSfilter,SURFACEGEOTITAN_planetographiclatitude1,SURFACEGEOTITAN_planetographiclatitude2,SURFACEGEOTITAN_planetocentriclatitude1,SURFACEGEOTITAN_planetocentriclatitude2,SURFACEGEOTITAN_IAUwestlongitude1,SURFACEGEOTITAN_IAUwestlongitude2,SURFACEGEOTITAN_IAUeastlongitude1,SURFACEGEOTITAN_IAUeastlongitude2,geo_prev_deg
0,co-iss-w1540365932,2006-10-24 06:53:17.377000+00:00,Titan,MT3,-41.162,71.378,-41.162,71.378,340.59,100.85,259.15,19.41,3.766734

In [6]:
# Here you can check if it is indeed a bounded set. 
# It is a more elaborate version of df, but with more context:
# Row A shows the last images of the set before, 
# and row Z shows the first images of the very next set
set1.diagnostic_window()

,_role,opusid,time1,target,COISSfilter,dt_prev_s,dt_next_s
0,A,co-iss-w1540365884,2006-10-24 06:52:21.373000+00:00,Titan,CB3,NaN,56.004
1,set,co-iss-w1540365932,2006-10-24 06:53:17.377000+00:00,Titan,MT3,56.004,46.000
2,Z,co-iss-w1540365980,2006-10-24 06:54:03.377000+00:00,Titan,MT3+IRP90,46.000,NaN

In [7]:
set1.show("all")  # full previews by default

In [8]:
set1.show("CB2") # You can chose a filter of your liking